body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

#loader-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    transition: transform 0.6s ease-in-out;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.screen.hidden {
    display: none;
}

.screen.show {
    transform: rotateY(0);
}

#close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 36px; /* Увеличенный размер */
    cursor: pointer;
}

button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    color: #8A8A8A;
}

button span {
    margin-left: 5px;
}

button#continue-btn, button#continue-btn-2, button#continue-btn-3 {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 18px; /* Увеличенный размер */
    font-weight: bold; /* Жирный шрифт */
}

button#start-btn {
    background-color: #9713FF;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

h1 {
    margin-top: 20px;
}

p {
    margin-top: 10px;
    line-height: 1.5;
    transition: opacity 0.6s ease-in-out;
    opacity: 0;
}

.show p {
    opacity: 1;
}
